<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush">
        <a [routerLink]="['/']" routerLinkActive="router-link-active"
            class="list-group-item list-group-item-action bg-light">Inicio</a>
        <a [routerLink]="['/listado_ventas']" routerLinkActive="router-link-active"
            class="list-group-item list-group-item-action bg-light">Listado de ventas</a>
        <a [routerLink]="['/ventas']" routerLinkActive="router-link-active"
            class="list-group-item list-group-item-action bg-light">Ventas</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->